[2013-06-24 19:48] chrissimpkins opened #1 "Incorrect example URL in search files (indicates <userdomain>/twitter/<phpfile> instead of <userdomain>/tweetledee/<phpfile>)"

[2013-06-25 11:21] #1 closed, assigned to chrissimpkins

[2013-06-26 22:33] georgedorn opened #2 "Needs support for favorites"
Favorites are how I mark things to be read later.  Should be just another API call that collects favorited tweets instead of tweets/retweets/etc.

[2013-06-26 23:18] #2 closed, assigned to nobody

[2013-06-28 03:45] chrissimpkins opened #4 "Update documentation to include changes in v0.2.8"

[2013-06-30 16:20] #4 closed, assigned to chrissimpkins

[2013-07-03 01:08] chrissimpkins opened #5 "Add Access-Control-Allow-Origin header option to files, active with a flag"

[2013-07-03 01:08] chrissimpkins opened #6 "Add user lists RSS, JSON, JSON_PP"

[2013-07-03 01:09] chrissimpkins opened #7 "Add user mentions RSS, JSON, JSON_PP"

[2013-07-03 06:04] chrissimpkins opened #8 "Add command line parameter option"

[2013-07-04 12:48] #6 closed, assigned to chrissimpkins

[2013-07-08 01:50] chrissimpkins opened #9 "URL Fix for href in Atom output"
fix concatenation of the Atom href URL link :

`<atom:link href="http://documents.pixsy.net . '/' . userrss.php?" rel="self" type="application/rss+xml" />`

[2013-07-09 18:25] #9 closed, assigned to chrissimpkins

[2013-07-10 13:27] chrissimpkins opened #10 "Add a file updater"
Likely will be used through SSH/CLI.  Working out best approach.

Would be nice to provide a web page interface with update button for users who would prefer this...

[2013-07-18 23:04] #8 closed, assigned to chrissimpkins

[2013-07-23 20:54] kristoffernolgren opened #11 "searchrss.php renders nothing after first item-tag (Heroku hosted files)"
I'm running tweetledee on heroku. The setup seems to work fine generally, but the rss has some problem with the output.

Json: works fine:
tweetledee.herokuapp.com/searchjson.php?q=katt

Rss: stops rendering after first itemtag on most searches
view-source:http://tweetledee.herokuapp.com/searchrss.php?q=katt

Sample source:
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>

[2013-07-25 07:23] eric-kaplan-dev opened #12 "Getting an error trying to set up tweeledee. (Undefined constant __DIR__)"
After tweeting to pixsy, I was told to open an issue here.
Here is the output with debug on for usersrss.php

Notice: Use of undefined constant **DIR** - assumed '**DIR**' in /home/a8143770/public_html/tweetledee/tldlib/tmhOAuth.php on line 68

connect() timed out!verify_credentials connection failure

[2013-07-28 13:57] #12 closed, assigned to chrissimpkins

[2013-07-30 16:51] chrissimpkins opened #13 "Custom user template RSS files"
Multiple user requests for customization of the RSS templating. Will try to pull together an easy way to customize these files.

[2013-07-30 20:39] #5 closed, assigned to chrissimpkins

[2013-08-01 20:08] chrissimpkins opened #14 "Error in the range for tweet count (CLI parameter)"
https://github.com/chrissimpkins/tweetledee/blob/master/tweetledee/favoritesjson.php#L104

<code>if ($params['c'] > 0 && $params['c'] < 200)</code>

should be:

<code>if ($params['c'] > 0 && $params['c'] <= 200)</code>

[2013-08-05 00:34] #14 closed, assigned to chrissimpkins

[2013-08-15 11:56] #11 closed, assigned to chrissimpkins

[2013-08-15 17:37] kabookey opened #15 "userrss.php not validating"

[2013-08-17 11:00] jjschwarz opened #16 "RSS Pages Blank when run from OS X 10.6 or 10.7 server"
I have setup the software and made sure the JSON version worked fine at http://jason.lothlorien.net/tweetledee, however I get back a blank page with userrss.php.  I tested on an OS X 10.6 and 10.7 server with the same results.  I turned on debugging and I get the same exact output.  It would appear all of the variables are left in the resulting page without substitution on the RSS output.

I have

[2013-08-20 00:45] #16 closed, assigned to chrissimpkins

[2013-08-20 01:23] #15 closed, assigned to chrissimpkins

[2013-09-03 16:26] ahsaniqbalbutt opened #18 "Need to Parse the JSON into PHP"
I need to know how would i get the parsed json into PHP if i open this

http://localhost/chrissimpkins-tweetledee-7cb341b/tweetledee/searchjson.php?q=freezoneuk

[2013-09-04 01:44] #10 closed, assigned to chrissimpkins

[2013-09-05 01:53] #18 closed, assigned to nobody

[2013-09-05 13:39] chrissimpkins opened #19 "Add since_id parameter"
limits returned tweets to those since the index tweet (designated with since_id).
- generally useful?
- look into support across data types
- implementation as URL parameter
- implementation as CLI argument

requested by [@kirapao](http://twitter.com/kirapao) on Twitter

[2013-09-13 14:14] Watashifr opened #20 "Feature request: multi-user applicability"
By feeding (instead of hardcoding) user oAuth token info, make functionality available for multiple users to call tweetledee from the same server/site/folder.

[2013-09-25 02:25] Peter0888 opened #21 "Installation Issue"
Hi,
I have a issue on installation in order to get twitter RSS feed.

I download the zip file and change the key from twitter application and then upload tweetledee folder to my ftp server. I am not sure if it is the same as a web server. I also try dropbox and save under public folder, but it still doesn't work.

I insert my domain name and search query as below, but it doesn't work.
http://akuis

[2013-09-26 01:50] #21 closed, assigned to chrissimpkins

[2013-10-02 13:12] svrooij opened #22 "Mimic Twitter API v1"
I would be nice to see this project mimic the Twitter v1 api, as much as possible.
Same urls, parameters and stuff like that.

This would help everyone who had a really cool twitter app, that suddenly stopped working. Then they just change the base-url and their app works again.

Keep on the good work!!!

[2013-10-11 10:15] sanoop123 opened #23 "only get 5 tweet count"
I am using favoritesjson.php in that i get the result only 5 sweet count .(limit is c=100)

[2013-10-11 18:59] aaintveld opened #24 "couldn't connect to hostverify_credentials connection failure"
Put twitter conversation into GitHub as requested.
Thanks for taking to time to consider this.

hi thx for tweetledee. Use .0334 and keep getting error couldn't connect to hostverify_credentials ... on http://www.aaintveld.com/tweetledee/userrss.php …

pixsy ‏@pixsied 10 Oct
@humops thanks for reporting it.  What file are you using?

 Arie in 't Veld ‏@humops 23h
@pixsied Hi. version 0.3.3 of your

[2013-10-12 13:21] #23 closed, assigned to chrissimpkins

[2013-10-18 03:10] #24 closed, assigned to chrissimpkins

[2013-11-19 04:06] whittam opened #25 "Searches with hashtag problem"
Hi Chris,

I love your software.

When I do search with a hashtag in it I get an error. For example, if I do a search on searchrss.php?q=#google&rt=recent  I get "tweet_search connection failure".

I think this may be because of the  issue to do with the way the # character is dealt with on the web.

I have done some work on caching tweetledee pages.

Best regards,

Martyn

[2013-11-19 17:30] #25 closed, assigned to chrissimpkins

[2013-11-19 17:48] chrissimpkins opened #26 "Build a drop-in caching mechanism for tweet data"
Request by [@LordPachelbel](http://twitter.com/lordpachelbel) on Twitter.

[2013-11-21 01:08] whittam opened #27 "Searching for string like #V or #T"
Hi Chris,

When I search for %23V or %23T I am getting tweets with any word beginning with V or T rather than exact matches. These are stock tickers, BTW. I also tried searching for %23V%20 and %23V&nbsp; but that didn't seem to help.

Do you think it is possible to search for one or two letter phrases?  Thanks.

[2013-11-22 05:24] #27 closed, assigned to chrissimpkins

[2013-11-26 05:25] #13 closed, assigned to chrissimpkins

[2013-12-09 12:46] molis83 opened #28 "Search Filters aren't working"
Thanks Chris for your great work on Tweetledee

I've found a little bug (or feature?) The twitter search filters aren't working. Twitter has some filters that can be included or excluded from the search.

Example:
%23test%20-RT%20filter%3Aimages&rt=recent
This should only give tweets with images (filter)

%23test%20-RT%20-filter%3Amentions&rt=recent
This should exclude mentions (-filter)

Filters

[2013-12-09 15:04] #28 closed, assigned to chrissimpkins

[2013-12-10 08:23] molis83 opened #29 "SearchRSS with inline images"
Hi Chris,

I'm trying to add the twitter images to the searchrss.php of your project.

In the seachjason.php i see that i have to use the 'media_url' in 'media':
http://www.molwebs.nl/twt/searchjson.php?q=%23Salaai%20filter%3Aimages

But now my problem. I don't now how to fetch this 'media_url' in the searchrss.php:

This is what i tried:

[code]

This results in:

[code]

See: http://www.molwebs.

[2013-12-12 14:06] adjeD opened #30 "SearchRSS Twitter operator errors"
Tried v0.3.5 searchrss using the twitter operators and got some errors..

[code]

This page contains the following errors:

error on line 3 at column 90: EntityRef: expecting ';'
Below is a rendering of the page up to the first error.

[code]

tweet_search connection failure

[code]

does work oddly enough..

I did edit the feed output a bit but that shouldn't be the problem.

[2013-12-27 13:35] MattFiler opened #31 "Getting error of failed connection to api.twitter.com"
I've been using Tweetledee for my website since Twitter updated the API to version 1.1, and it's been working fine. The other day, without warning, it stopped working and visiting the /tweetledee/userrss.php, it gives the error "Couldn't resolve host 'api.twitter.com'verify_credentials connection failure".

Please could you help?

Thanks.

[2013-12-27 18:12] #30 closed, assigned to chrissimpkins

[2013-12-28 11:32] #31 closed, assigned to chrissimpkins

[2014-01-06 14:44] sergeesteves opened #32 "rt=popular"
Hi Chris,
First of all, great thanks for your work, and for users who help debug your fantastic script.

Well, i wonder how really works the parameter rt=popular, because when i test it with this kind of request:
searchrss.php?q=%23seo+lang%3Afr+-RT+filter%3Alinks&rt=popular

I have no results!!

It's a very popular hashtag, even in france, and I should have some results.
For instance, if i test t

[2014-01-06 16:24] sergeesteves opened #33 "Link to 1st URL contained in tweet"
Hi again,

This time is for a feature request:
 Is it possible to add in <link> section the link to the first URL contained in each tweet when it exists... OR add it in another section to facilitate the extraction of that URL. ?

Thanks

[2014-01-09 14:56] #32 closed, assigned to chrissimpkins

[2014-01-10 16:11] #33 closed, assigned to chrissimpkins

[2014-02-07 06:22] cregnier opened #34 "userrss.php gives a couple error messages"
Issue Comment #1:

When running at linux cli using php:   php userrss.php
yields:

[code]

Fri, 07 Feb 2014 06:18:43 +0000</lastBuildDate>

PHP Fatal error:  Call to undefined function mb_internal_encoding() in /var/www/html/tweetledee/tldlib/tmhUtilities.php on line 45

Issue Comment #2:
When web-browsing userrss.php:
yields:

This page contains the following errors:

error on line 18 at column 1

[2014-02-20 19:38] GRSimon opened #35 "Twitter Limit Exceeded, How do you cache JSON request to server to prevent reaching max limit?"
I am using this Jquery function to load the JSON feed onto an page.

`$(document).ready(function(){
        $.getJSON( "/tweetledee/userjson.php?c=10&user=HeroGreg&xrp=1&xrt=1", function(obj) {
        $.each(obj, function(key, value) {
        $("#feed").append("<li>"+value.text+"</li><li>"+value.retweet_count+"</li><li>"+value.favorite_count+"</li><li>"+value.user.name+"</li>");
        });

[2014-02-21 18:10] bentodman93 opened #38 "Rss - uploaded picture url"

[2014-02-21 20:58] #38 closed, assigned to nobody

[2014-02-22 06:30] #26 closed, assigned to chrissimpkins

[2014-02-25 04:41] #35 closed, assigned to chrissimpkins

[2014-02-28 10:10] #29 closed, assigned to chrissimpkins

[2014-03-31 03:56] BrittaSloane opened #39 "No results being returned on RSS or JSON"
PHP Version: 5.4.25
TweetleDee version: 0.4.0
Error Messages: None (but have debug turn on in file homerss.php)
Error description: Have installed and got the validation error a few times, then it just... went away. Didn't update anything in particular to get it gone.
For homerss.php I can see the RSS page in Firefox and am getting no debug messages - but there is absolutely nothing listed.
I've al

[2014-04-01 21:37] #39 closed, assigned to nobody

[2014-04-05 13:56] #34 closed, assigned to chrissimpkins

[2014-06-11 08:37] ghost opened #41 "Exceeded Twitter API rate limit"
Hello,

I'm using Tweetledee to print messages in a thermal printer using Arduino.
The problem that I'm having is that I'm being blocked for trying to see the "statuses/user_timeline" every 12 seconds, this should be about 75 times in 15min. According to Twitter rate limits I should be able to do it 180 times every 15min.  What is happening?
I'm using a 12 seconds delay and also using cache to avo

[2014-06-26 10:31] #41 closed, assigned to nobody

[2014-08-21 22:13] aufet opened #42 "images in rss"
Hello Chris,

When I use the Tweetledee PHP-RSS scripts, I have a problem with item images.  I see the users’ profile image/avatar as the story image in an RSS reader (Feedly)..  I would like to have images that are displayed in Twitter displayed with feed items.  Any tips for making this work?  Twitter Media Entities have image URL’s, (https://dev.twitter.com/docs/entities).  Could these be used

[2014-08-22 21:48] #42 closed, assigned to nobody

[2014-12-01 11:51] danielholanda opened #43 "Services stopped working"
I noticed two days ago that Tweetledee stopped working for me. My server seems to be working fine, I can get cached tweets, but not new ones. If I change any of the search parameters I get the message "user_timeline connection failure". I'm using the simple "/tweetledee/userjson.php" to get my tweets. I have being using Tweetledee daily for the past six months and nothing like this ever happened.

[2014-12-10 12:44] #43 closed, assigned to nobody

[2015-05-30 16:31] seunsodimu opened #44 "Tweetledee errors"
Hi,
I followed the steps for installation on my server but I am getting this error
"Call to undefined function mb_internal_encoding()" in tweetledee/tldlib/tmhUtilities.php on line 45.
Tweetledee Version: 0.4.1
PHP version: 5.4.26

[2015-05-30 21:40] chrissimpkins commented on #44
It looks like the version of PHP on your server does not support this PHP built-in function.  `mb_internal_encoding()` is supported in all PHP5 versions.  Here is the documentation:

http://php.net/manual/en/function.mb-internal-encoding.php

I would check with your hosting provider to see if they are blocking this function for some reason.  If you have a local PHP install, you can test it there t

[2015-06-01 15:00] seunsodimu commented on #44
Thanks!

[2015-06-01 15:00] #44 closed

[2015-06-01 15:57] chrissimpkins commented on #44
my pleasure

[2015-06-10 14:25] hajakif opened #45 "Search Json to include username and hastag"
In searchJson the query with hashtag and user, example- search json should fetch the hashtag of that particular user given in query.

any solution?

[2015-06-10 20:18] chrissimpkins commented on #45
Not sure that I am following you.  Can you expand on this question a bit or perhaps provide an example of the problem that you are having?

[2015-06-11 00:46] hajakif commented on #45
for example
http://[yourdomain]/tweetledee/searchjson.php?q=[search-query]&user=[user-name]&rt=[popular],[recent]

something like this

[2015-06-11 01:02] chrissimpkins commented on #45
can you explain what you mean by the hash tag of that particular user?   are you asking about how to perform a specific type of search or recommending a modification in the way the current search is performed?

[2015-06-11 01:04] hajakif commented on #45
recommending a modification

[2015-06-12 15:42] chrissimpkins commented on #45
Can you address the other question above as well so that I can help you?

[2015-06-13 06:28] hajakif commented on #45
for example - User A uses #hashtagtrend and i should be able to search particular hashtag from USER A

[2015-06-13 11:31] chrissimpkins commented on #45
Got it.  This uses Twitter's search API and is not a search implemented by Tweetledee so you would execute this just like you would through Twitter.  Try concatenating the user handle and the hashtag in the same query with a HTML encoded space to see if that provides the results that you want.

For example, a query for `@csimpkins` and `#python`:

[code]
or without the @ symbol:

[code]

[2015-06-13 11:38] chrissimpkins commented on #45
Modified the above examples with URL encoding for the pound symbol

http://[yourdomain]/tweetledee/searchjson.php?q=@csimpkins%20%23python
[code]

[2015-07-14 17:40] ayyelo opened #46 "RSS Feeds Presentation"
Hi Charley.

It's Angelo from Twitter. Sorry I did not get in-touch sooner. I unfortunately do a lot of works. In either case here is my request.

I have successfully installed the script here, http://crsrecruitment.eu/twitterfeed/userrss.php.

The RSS feed would be primarily used in-conduction with Hootsuit to feed it into a Facebook business page. As it stands Twitter and Facebook business pages

[2015-07-14 17:54] chrissimpkins commented on #46
Try replacing the script in userrss.php with the following script (also located [here](https://gist.githubusercontent.com/chrissimpkins/2b467ba623cb8dc9170b/raw/a95d6015df66d86d6647be62431f632c49e6c6cc/gistfile1.php) where it will be simpler to copy / paste):

[code]

Let me know if that solves the problem.  It should remove the author and open/close brackets at the beginning of the tweet.

[2015-07-14 18:21] ayyelo commented on #46
Thanks for this. I have now uploaded the script and see how it works. I wanted to ask, what is the difference between the cached and non-cached version. This version seams to be instant, so I am a little unsure there.

If I wanted this edited script on the non-cached version what would I need to do?

[2015-07-14 19:16] chrissimpkins commented on #46
The cached version saves the tweet results for a period of time and displays the cached/saved version to your visitors rather than communicating with the Twitter API each time that someone visits the page.  The main reason for this is that Twitter has an API rate limit in place and if you exceed the limit, the API locks your application account out for a brief period (~10 - 15 mins).  This will oc

[2015-07-14 19:21] chrissimpkins commented on #46
Note also that the text in that area of the script are HTML formatted and you could also add anything else that you want to routinely display in the tweet results.

e.g.:

[code]

prints:

[code]
where [tweet message] is the text content of the tweet.  The text that you removed was just a PHP variable that holds your user account name.  It was formatted in open/close brackets.

[2015-07-14 20:54] ayyelo commented on #46
Wow.. thanks for the information.

You really did your research on this. I will let you know how I get on. From the sounds of things I shall stick with the cached version. It seams to be pretty real-time from where I am looking at it. It might not be to the millisecond, but I can say it's within seconds.

I truly appreciate your help.

[2015-07-14 20:57] chrissimpkins commented on #46
my pleasure.  good luck!

[2015-07-15 18:04] ayyelo commented on #46
Hi Chris,

Sorry to be pestering you again. I received my final tweet and it appeared on Facebook. Unfortunately, it appeared in the wrong format. You can see the tweet here.

https://www.facebook.com/CRSRecruitment.eu?fref=ts

Unfortunately the Facebook post reads, 'Glen Lindsay on Twitter', ideally it should not read this. How would I edit this. It also display the logo of the company. I would w

[2015-07-15 18:30] chrissimpkins commented on #46
This looks like a Facebook related issue.  Facebook is formatting your Twitter feed with the following format:

[code]

The image is your Twitter account avatar.  I think that the only way to modify this is to change the respective settings in the Twitter account so that it pulls a different image in and modifies your name to your company name.  You might check Facebook documentation for more info

[2015-07-15 21:11] ayyelo commented on #46
They don't have much twitter feed support. I needed to create an RSS feed via your script and import is through Hootsuit to publish it directly to the page. Unfortunately however, the formatting is all wrong. I am going to play around with Hootsuit to see if I can find a solution.

Thanks again for all your help and support.

[2015-07-15 23:15] chrissimpkins commented on #46
does IFTTT have a RSS to Facebook script?  be worth looking into this

[2015-08-23 22:35] djklint254 opened #49 "Feed with Posted Media"
How can i add item that gets posted media on tweets to that code?

[2015-08-23 22:40] chrissimpkins commented on #49
See if this closed issue addresses your question.  https://github.com/chrissimpkins/tweetledee/issues/29

Let me know if not.

[2015-08-23 23:08] djklint254 commented on #49
It didnt work. Take a look at this code and tell me where i am wrong?

<?php
// include' OAuth library
require 'php/tmhOAuth.php';
require 'php/tmhUtilities.php';

// get the keys that allow connection to twitter
require 'keys/personal_keys.php';

/**------------------------------------------------------------------------------------------------*
 * reformats the date retreived from Twitter to the

[2015-08-23 23:25] chrissimpkins commented on #49
I need more detailed information about what you are trying to do and what changes you made to the above code.

[2015-08-23 23:33] djklint254 commented on #49
The original script gets my mentions which is @Dj_Klint but i wanted it to also fetch photos posted on tweets am mentioned i can't seem to get it to work. I have tried everything i have researched but it gets errors. Here is the original script:

<?php
// include Use Matt Harris' OAuth library
require 'php/tmhOAuth.php';
require 'php/tmhUtilities.php';

// get the keys that allow connection to twi

[2015-08-24 00:22] djklint254 commented on #49
Where did i go wrong?

[2015-08-24 12:53] djklint254 commented on #29
i am getting errors on namespace on media not defined

[2015-08-24 13:47] djklint254 commented on #49
Hey, i got it to work but it is returning pics that are not for the tweets.

[2015-08-24 16:20] chrissimpkins commented on #49
What do you mean by "tweets am mentioned"?  Do you mean you want photos from other accounts that mention your Twitter handle?

[2015-08-24 17:15] djklint254 commented on #49
yes. and also to get rid of the "http://" after a tweet or in between a  tweet

[2015-08-24 21:04] djklint254 commented on #49
I managed to get photos on tweets with pics but the problem is the tweet comes with something like this:

Have you heard this song? Mr Phat-Mama http://t.co/APywhtwIdV via @kymdynis @Dj_Klint.

how can i get rid of this 'http://t.co/APywhtwldV'

[2015-08-25 11:57] chrissimpkins commented on #49
It doesn't look like there is a straightforward fix with the PHP variables that are generated from the Twitter API data.

If the link is part of the tweet text, you would need to parse every tweet string with PHP and then replace all identified URL's with an empty string.  This is likely a job best done with regular expressions.

PHP documentation on `preg_replace` that would allow you to match a

[2015-08-26 11:18] djklint254 commented on #49
Thank You Chris. Thanks alot.

[2015-08-26 11:22] chrissimpkins commented on #49
were you able to come up with a solution?

[2015-09-21 10:06] melat0nin commented on #45
Hi Chris

This approach will still show tweets by other users if they include both "csimpkins" and "'#python" in their tweet. Is it possible to restrict the search to just the @csimpkins account (for example)?

Many thanks for a great library!

[2015-09-21 10:13] melat0nin commented on #45
Also, it's not working reliably unfortunately. I've tried this URL:

/searchjson_nocache.php?q=@scotlawcom%20%23compulsorypurchase

to look for tweets by the account @scotlawcom using the hashtag #compulsorypurchase. I've verified that the account has tweets which qualify (and the main Twitter search itself brings them up), but they're not appearing using this method.

[2015-09-21 13:02] chrissimpkins commented on #45
Try the `from:` operator in the search URL.  This works on the Twitter search API and I believe that the [advanced operators](https://twitter.com/search-advanced) work with the Tweetledee script.

Here is an example of the URL from the Twitter search site for the query 'Python' in my Twitter account:

[code]

Let me know if that helps.  If so, that advanced search page should help you to find the

[2015-09-21 13:03] chrissimpkins commented on #45
By the way, I don't believe the `src` field is necessary.  I copied/pasted from the browser url bar using the web search site.

[2015-09-30 09:57] melat0nin commented on #45
Thanks for that Chris. I think the main problem is that the search API only goes back about a week, which is pretty rubbish (the website search covers a much larger period). See https://twittercommunity.com/t/exact-phrase-searches-not-working-in-rest-api-v1-1/11784. I don't think that has changed since 2013, unfortunately.

[2015-09-30 10:35] chrissimpkins commented on #45
I believe that you are correct.

[2015-11-13 23:54] malenki opened #50 "enhance FAQ"
First (since I haven't found another place to do so) thank you for this well documented and useful piece of software.

The "Issue": The [FAQ](https://chrissimpkins.github.io/tweetledee/support.html) for "I get the error "verify_credentials connection failure error"" could be enhanced by the nearly obvious
"You may have entered wrong credentials."
This happened to me having copied not only the twit

[2015-11-14 00:16] chrissimpkins commented on #50
Sorry for the confusion.  Is it working for you now?

[2015-11-14 01:26] malenki commented on #50
Chris Simpkins schrieb
am Fri, 13 Nov 2015 16:16:42 -0800:

Yes, it is working.
The space between "'" and the credentials is quite obvious as soon as
one looks at them. :)

[2016-05-03 13:49] vinhdizzo opened #51 "Display pictures in twitter feed?"
Hi,

Is there an option to display pictures as opposed to the twitter url to the picture in the twitter feed generated by tweetledee?  Thanks.

[2016-05-03 15:08] chrissimpkins commented on #51
Does this closed issue address your question?

https://github.com/chrissimpkins/tweetledee/issues/29

[2016-05-03 16:43] vinhdizzo commented on #51
Thanks for pointing to the thread, but I'm not sure how to incorporate it.  For reference, I'm using tweedledee's `homerss.php`.  Where do I put
[code]
?  That gives the url.  How do I get it to display the image?  Thanks for your help.

[2016-05-04 11:57] chrissimpkins commented on #51
Let's give this a shot.

### Revise Parsed Data in the Individual Tweets

Replace [this block](https://github.com/chrissimpkins/tweetledee/blob/master/tweetledee/homerss.php#L173-L185):

[code]

with this:

[code]

### Update CDATA Section

Replace [this block](https://github.com/chrissimpkins/tweetledee/blob/master/tweetledee/homerss.php#L192-L202):

[code]

with this:

[code]

[2016-05-04 13:46] vinhdizzo commented on #51
Thanks Chris.  I made the modifications.  For tweets with images, it does display the image.  However, the `if(isset($currentitem['entities']['media'][0]['media_url'])):` line is also displayed in the tweet:

[code]

As a matter of fact, this line gets pasted in all tweets, even if there is no image.

[2016-05-04 14:04] chrissimpkins commented on #51
My fault.  We are rendering raw php.  It's been awhile since I tackled any PHP code.  For the second codeblock, try this instead:

[code]

Note that we are wrapping the if(isset... in php tags.  Let me know if this does the trick.

[2016-05-04 14:26] vinhdizzo commented on #51
No worries.  I inspected the code and modified it as:
[code]
which worked for me.

Will you be rolling this into all the php files in `master` or will you be leaving this as a hack for the user?  Thanks.

[2016-05-04 15:44] chrissimpkins commented on #51
How are you reading the RSS feed?  Mind verifying that there are no issues in those tweets without images?

Let's consider merging this in for everyone.  Welcome to pull request it if you would like to contribute it.

[2016-05-04 15:56] vinhdizzo commented on #51
I'm using tiny tiny RSS to read the feed.

Yes, tweets without image works fine.

I've never done a pull request, but I'll give it a try, perhaps later this week?  Thanks for your help.

[2016-05-04 16:15] chrissimpkins commented on #51
Is this your first contribution to an open source project?  If so, that is fantastic!  If you're interested let's definitely get you through your first pull request so that you can see how simple it is to participate in collaborative development.

Do you know how to use git?

[2016-05-04 16:31] vinhdizzo commented on #51
I know the basics of git.  I've contributed to open source projects via diff files or describing changes via text, just never via a pull request.  I think I could figure it out ;)

[2016-05-04 16:36] chrissimpkins commented on #51
1. Click fork button on this repo (top right)
2. Pull the forked repository in your account locally
3. Make changes
4. Push local commits back to your remote branch
5. Click Pull Request button on the GitHub page for your forked repo.  It will be available after you push your changes.

Look forward to it!

[2016-05-05 03:02] vinhdizzo commented on #51
OK, I modified 10 files of the form `*rss*.php` and submitted a pull request.  Hope this works out.  Thanks!

[2016-05-05 03:02] #51 closed

[2016-05-07 11:49] #50 closed

[2016-05-07 11:50] #49 closed

[2016-05-09 21:18] chrissimpkins commented on #51
@vinhdizzo Merged and added you to the contributors list on the home page of our documentation:

http://chrissimpkins.github.io/tweetledee/index.html

Thanks for this PR!  When/if I get around to modifying the variables, I will poke you to see if you are still interested in testing it.  This will work just fine for now.

[2016-06-23 16:03] sEnkaaa opened #53 "searchjson with list params don't work"
Hi everyone,
I'm trying to fetch some data with the following twitter request : https://twitter.com/search?q=list%3APharmagoraPlus%2Fpresse-multimedia%20AND%20%23cancer&src=typd

so i try this request
searchrss.php?q=list%3APharmagoraPlus%2Fpresse-multimedia%20AND%20%23cancer%20lang%3Afr

and the results is a mess and does not take in account the liste:AcountName/ListName

Thanks in advance for yo

[2016-08-11 08:46] goelanshul opened #54 "Response code 0."
Hi Chris,
I was getting response code 0 all the time with OAuth module.
On Debugging, found out that setting 'curl_ssl_verifypeer' = false is the cause behind it.
For me , it worked by removing that assignment.
Please fix the same in repo as well so that other's don't face the issue.

[2016-08-11 10:48] chrissimpkins commented on #54
Thank you!

[2017-03-24 12:19] salvov opened #55 "http:// wrapper is disabled in the server configuration"
Hi,

this error is appearing on my logs and tweetledee doesn't seem to be working.
I've already changed allow_url_fopen=1 but it doesn't seem to be making any difference.

here is what's happearing on the log file:

[24-Mar-2017 11:52:30 UTC] PHP Warning:  file_get_contents(): http:// wrapper is disabled in the server configuration by allow_url_fopen=0 in /home/mediaworks/public_
html/content/them

[2017-04-14 15:04] Riduidel opened #56 "Sometimes, images from one tweet are used as images for next tweets"
it often happens that the image used in one tweet is used for the next tweet displaying another image, which makes things rather confusing.

[2017-06-01 09:34] rodrigoaguilera commented on #56
I created a pull request. the "sometimes" part of the bug is that the image was not filled in case the tweet was a retweet so the code took the pic from the last tweet that had an image.

[2017-06-02 13:39] Riduidel commented on #56
👍
@chrissimpkins  what is the effort to integrate this PR ?

[2017-06-02 16:37] rodrigoaguilera commented on #56
FYI I am making more changes in my fork but the code repetition in this project is so big that I feel that I should first propose a refactor.

[2017-06-02 16:47] chrissimpkins commented on #56
Quite honestly I won't have the time to manage any of these issues.  You are more than welcome to assume control of the code repository and develop away or create your own fork and I can point to it.

Glad to hear there is ongoing interest in development.

[2017-06-02 20:25] chrissimpkins commented on #56
@rodrigoaguilera @Riduidel let me know if either of you are interested in becoming the project maintainer.

[2017-06-02 21:44] rodrigoaguilera commented on #56
Yes, definitely. I even love the name of the project 😀

I feel that the option that will give more liberty is to start working from my fork. Or a new org fork if @riduidel is interested.

Not to mention you will still be credited for your great work.

Can I ask why you don't use this anymore or lost interest on the project?

I think reading twitter on RSS is awesome.

[2017-06-02 22:03] chrissimpkins commented on #56
Change in my job early last year led to elimination of my time for my open source work unfortunately.  I care very much about all of my projects and love to see that there could be further development and improvements by others down the road.  That's one of the great benefits of open source work!

Let me know when you get your repo to a stage where you are ready for me to point to it as the curren

[2017-06-02 22:04] chrissimpkins commented on #56
We can change the website too.  This has been around for a few years and there are links out there to the repo that you will want to have re routed to your source.

[2017-06-04 13:43] Riduidel commented on #56
Well, I don't have the time/skill set required to maintain Tweetledee. So, @rodrigoaguilera ,you can consider yourself the future maintainer :-) (I will only provide some testing)

[2018-01-06 06:01] vigneshrvicky opened #58 "error while checking "http://[yourdomain]/tweetledee/homejson.php" and "http://[yourdomain]/tweetledee/userrss.php""
I download tweetledee zip file from http://chrissimpkins.github.io/tweetledee/usage.html and locate in D drive on my PC
tweetle version:0.4.2 (chrissimpkins-tweetledee-v0.4.2-1-gc63daca.zip)

After finishing all the instructions given by you.I try Check "http://[yourdomain]/tweetledee/userrss.php"
and I got The error.The error is listed bellow

XML Parsing Error: syntax error
Location: http://exam

[2018-01-06 14:28] chrissimpkins commented on #58
To confirm, you are using a local PHP server to attempt this?

https://stackoverflow.com/questions/1678010/php-server-on-local-machine

[2018-01-16 20:17] Riduidel commented on #56
@rodrigoaguilera I'm trying to take a look at your code to add support for Twitter new 280 characters limitation. Is there any way to join you ? I would like to know which branch has your image support feature ?

[2018-01-16 20:54] rodrigoaguilera commented on #56
I'm sorry I didn't followed up on your proposoal.

I opened a Pull request in this project.

the branch with the fixes is the master at
https://github.com/rodrigoaguilera/tweetledee

[2018-01-16 21:05] chrissimpkins commented on #56
There is an open PR on this repository to support the 280 characters as well.  #59

Perhaps we consolidate this work into a branch and consider making it the default with a merge to master when we have confirmed that we are ok with (1) rate limits; (2) backwards compatibility, lack thereof

See conversation in that PR thread from the work submitted by @MageFroh

[2018-01-16 21:07] chrissimpkins commented on #56
@rodrigoaguilera Rodrigo, are you maintaining a fork of this repository?  If so, perhaps @MageFroh work would be best suited there and we can begin to deprecate this repository and direct traffic your way assuming that you intend to continue development.

[2018-01-16 21:09] chrissimpkins commented on #56
Alternatively (and this applies to you as well @MageFroh), I would be happy to transition this repo to anyone who wants to take over maintainer duties.  I honestly don't have the time for it and it seems that there is still some interest in development out there.  I would like to support future work by putting this in the hands of someone who will continue development and wants to maintain it.

[2018-01-17 07:08] rodrigoaguilera commented on #56
I think the ideal scenario is a co-maintainership between the people who use it daily and have some PHP abilities to fix issues.

I enjoy the use of this project everyday and I have improvements in mind like a display of tweets with many pics and videos.

I will happily take some more responsibility over this project. What do you think @MageFroh ?

[2018-01-19 13:35] rodrigoaguilera opened #60 "New maintainership structure"
A discussion happened here
https://github.com/chrissimpkins/tweetledee/issues/56
about how the current maintainer can no longer be in charge so I offered to help.

We think the best way forward is to create a "tweetledee" org on github and transfer the permissions.

Let's hope @magefroh joins later.

[2018-01-19 13:53] chrissimpkins commented on #60
Thanks for offering to maintain this repository @rodrigoaguilera!  I am in complete agreement that someone else would be better able to maintain and continue development here.

I have transferred the chrissimpkins/tweetledee repository to tweetledee Github organization account (as tweetledee/tweetledee) and will send you an invite so that we can set you as the admin on the repository.  This will p

[2018-01-19 13:57] rodrigoaguilera commented on #60
I will edit the composer.json to reflect this change.
I hope you still want to be listed as an author there.

Maybe there is another action for you to do when that change to composer.json happens by marking the old one as abandoned so tweetledee/tweetledee is the canonical one.

It happened for the robo project.
https://packagist.org/packages/consolidation/robo
https://packagist.org/packages/codeg

[2018-01-19 13:57] chrissimpkins commented on #60
I sent an invite to @rodrigoaguilera as Owner and to @MageFroh as member.  I will turn over the remainder of maintainer responsibilities to you.  If you have not managed an organization account previously, have a look at the current organization settings for member default privileges (including write access/repository move access/repo delete access) before you invite new members.

[2018-01-19 13:59] chrissimpkins commented on #60
Sure, that would be great. I created the project, provided a majority of the existing source, and maintained it for the last few years.  I would greatly appreciate it if you would be willing to keep me on the authors list for those contributions.

[2018-01-19 14:02] chrissimpkins commented on #60
Wow, I guess this has been around even longer than I recalled.  That commit is from five years ago.  I don't have any knowledge of Composer package management.  Do you know how to do this?

[2018-01-19 14:08] rodrigoaguilera commented on #60
When you go to
https://packagist.org/packages/simpkins/tweetledee
And you are logged in there is an "Abandon" button.

I made things easy by creating
https://packagist.org/packages/tweetledee/tweetledee

[2018-01-19 14:09] chrissimpkins commented on #60
chrissimpkins/tweetledee was abandoned and it now points to tweetledee/tweetledee as the suggested replacement.  Let me know if anything else that you need from me on my end

[2018-01-19 14:10] chrissimpkins commented on #60
Feel free to remove all of my maintainer metadata from the composer.json file so that packagist points to you

[2018-01-19 14:13] #56 closed

[2018-01-19 14:23] chrissimpkins commented on #60
Transition appears to be complete. Feel free to downgrade my organization membership status.  I turn this over to you to keep chugging along.  Thanks Rodrigo and good luck!

[2018-01-19 14:31] rodrigoaguilera commented on #60
Thank you for this great piece of code and keeping maintanership task responsibly.

[2018-04-15 16:39] therourke opened #62 "280 characters"
Is there a commit to extend the limit of characters to 280? I couldn't find a simple switch for this in the code.

[2018-04-15 20:59] rodrigoaguilera commented on #62
You can have a look at this PR
https://github.com/tweetledee/tweetledee/pull/59

[2018-04-17 16:58] rodrigoaguilera commented on #62
Try the 0.5.0 version

[2018-04-17 16:58] #62 closed

[2018-04-17 16:59] rodrigoaguilera commented on #60
With a new release made I think we can close this. Thanks again

[2018-04-17 16:59] #60 closed

[2018-04-17 16:59] rodrigoaguilera commented on #58
Closed because of inactivity

[2018-04-17 16:59] #58 closed

[2018-04-17 17:01] rodrigoaguilera commented on #54
I think this has been fixed

[2018-04-17 17:01] #54 closed

[2018-04-17 17:02] rodrigoaguilera commented on #22
Please reopen if there still interest on this

[2018-04-17 17:02] #22 closed

[2018-05-16 11:16] therourke opened #63 "media content privileged over profile images?"
Since the latest update [my feed](http://machinemachine.net/tweetledee/favoritesrss.php?c=20) does not always show profile images. It seems like those posts which contain media content, or which are part of a thread, are recovered without the appropriate profile image of the tweeter. I have tried messing around in the RSS php, but can't seem to figure out what might be causing this.

[2018-05-16 21:29] jools-r opened #64 "hashtag entity replacements generating error"
I'm not sure if this is particular to my own situation or a more general problem (if the latter I would have expected it to have been noticed sooner).

I'm getting errors with hashtag replacement strings. The problem derives from the fact that – in my retrieved twitter timeline at least – the key for a hashtag entity is `text` and not `full_text`:

[code]

EDIT: That seems to be corroborated by th

[2018-07-08 21:05] rodrigoaguilera commented on #64
Fixed in the master branch. Thanks for the report an the solution :)

[2018-07-08 21:05] #64 closed

[2019-06-03 00:17] glubsy commented on #39
Thanks @kelcya I had the same issue with PHP 7.0 and had to install the php-mbstring package too.

[2019-09-29 18:58] Riduidel opened #66 "Show all images of tweet"
When tweet has more that one image embedded, only the first is used in tweetledee. Is it possible to have all images in tweetledee ?

[2019-09-29 18:58] Riduidel commented on #66
I'll try to take a look at this during #hacktoberfest, will it be possible to have any help ?

[2019-09-29 19:00] Riduidel opened #67 "Quoting another tweet should have the other tweet included in feed"
Typically, for retweets, we only have an url displayed with no content in. Is it possible, even using an option, to have the retweeted text displayed ?

[2019-09-29 19:00] Riduidel commented on #67
I plan to take a look at this during #hacktoberfest. Is it possible to have any help on that subject ?

[2019-09-29 19:23] rodrigoaguilera commented on #67
I really love the feature but I will have a lot personal stuff going on during October so I won't be able to provide support, I can review PRs though.

I still use this project daily to read twitter and I have been delaying some cleaning for a few months now.

[2019-09-29 19:24] rodrigoaguilera commented on #66
Same as the other #hacktoberfest feature, this would be really interesting to have.

[2019-10-03 09:27] Riduidel commented on #67
ok, so it seems like the "pure" retweets are correctly handled.
As an example, in `/tweetledee/homerss_nocache.php` there is the code

                if (isset($currentitem['retweeted_status'])) :
                    $avatar = $currentitem['retweeted_status']['user']['profile_image_url'];
                    $rt = '&nbsp;&nbsp;&nbsp;&nbsp;[<em style="font-size:smaller;">Retweeted by ' . $currenti

[2019-10-08 18:04] Riduidel opened #68 "Fight duplication !"
Seems like it's time to start a big fight against code duplication in tweetledee.
Said otherwise : it seems to me like code is duplicated for each file between the standard version and the nocache one.
Taking as example `homerss.php` and `homerss_nocache.php` they both have a big part of common code which could (well, should) be extracted to have less code, because less code is less bugs.

[2019-10-08 18:06] Riduidel commented on #68
I'll start a PR on `homerss.php` to limit the duplication, and see how it scales ...

[2019-10-08 18:14] Riduidel commented on #68
Well, no, there is not so much code duplication (excepted the code used to render the RSS stream)

[2019-10-08 18:27] Riduidel commented on #68
Well, since I want to work cleanly for #66 (which prmoises to be the hell of a mess with current code organization), I think I'm gonna do a great refactoring to build a class out of the parsed stream, which will allow me to do my modification in a "better way". What do you think ?

[2019-10-08 18:29] Riduidel commented on #68
Oh damn, I don't know if I'm good enough/have enough time for that task ...

[2019-10-08 18:46] Riduidel commented on #68
OK, I think I'm gonna use some kind of easy php templating like the one provided in this example https://www.daggerhart.com/create-simple-php-templating-function/

[2019-10-09 10:06] Riduidel commented on #66
Daaaamn, it seems like there is only one image in twitter API content ....
No, wait,
in fact, all images are present, but not in `entities`, in `extended_entities` (as explained there https://developer.twitter.com/en/docs/tweets/data-dictionary/overview/extended-entities-object)

[2019-10-09 11:49] rodrigoaguilera opened #71 "Add a comparison with RSS-Bridge"
At a quick glance there is a project that might be achieving similar goals as tweetledee.
https://github.com/RSS-Bridge/rss-bridge

Elaborate what are the differences between the two

[2019-10-09 11:50] rodrigoaguilera commented on #71
Ping @Riduidel Since I have seen you are contributing to both projects.
Why you still use both?

[2019-10-09 11:52] #68 closed

[2019-10-09 12:09] Riduidel commented on #71
ok, I use tweetledee because twitter support in far from enough : I can't log in, and there is no home time line display. Obviously, if I could modify twitter bridge to suit my need, I would give up on tweetledee maintenance

[2019-10-09 12:12] rodrigoaguilera commented on #71
Ok, so with RSS bridge I can create RSS channels for user timelines but no home timeline. Understood

[2019-10-09 12:47] Riduidel commented on #71
For now, but I would love to take that feature

Le 09/10/2019 à 14:12, Rodrigo a écrit :

[2019-10-09 14:36] Riduidel commented on #67
Daaamn, it seems like embedded tweets are stored in `['entities']['url']` objects.
So the best way is to call [`/show/:id`](https://developer.twitter.com/en/docs/tweets/post-and-engage/api-reference/get-statuses-show-id) with embedded tweet id.
But I guess it will require having the config more accessible, or at least the cache and the twitter api accessible through the same interface, which will

[2019-10-09 14:47] Riduidel opened #72 "Factorize parameters processing"
Currently, each script copy/paste the command line processing tools.
It would be better to have it factored out.

[2019-10-11 11:41] Riduidel opened #74 "Factorize debug flag management"
There is in each flag a debug flag computation block that could/should be factored out

[2019-10-14 08:01] Riduidel commented on #67
That's ok now; Obviously I've commited (again) my tweetledee keys and remvoed them after.

[2019-10-14 12:43] Riduidel commented on #67
Please notice that when #73 will be merged in master, some work (hopefully not so much) will have to be done in this branch.

[2019-11-05 20:00] Riduidel opened #79 "Set author in RSS entry according to twitter handle"
This would allow easier user detection in using applications ..

[2019-11-06 15:44] #66 closed

[2019-11-06 15:53] #72 closed

[2019-11-24 16:21] rodrigoaguilera commented on #67
I am leaving this open because the documentation needs to be updated with the new `rl` query parameter.

@Riduidel Do you want to take on that task too?

[2019-11-24 17:12] Riduidel commented on #67
Yes, you can assign that to me.

[2019-11-24 19:02] rodrigoaguilera commented on #67
Great!

Thank you for making tweetledee amazing :)

[2019-11-24 19:02] #67 closed

[2019-11-24 19:29] Riduidel commented on #67
Well, as I use it on a 2-hour crontab basis, I do consider it too useful to not maintain it correctly :-)

[2019-11-24 20:06] ruleroller opened #84 ""user_timeline connection failure" when I use searchrss.php"
release: 0.5.2

I tried the url like "xxx.xxx.xxx/tweetledee/tweetledee/searchrss.php?q=dog", it tells "user_timeline connection failure".

Then I tried "xxx.xxx.xxx/tweetledee/tweetledee/favoritesrss.php", "xxx.xxx.xxx/tweetledee/tweetledee/homerss.php", they works, show the items.

0.5.1 and before's searchrss.php works btw.

[2019-11-25 06:44] rodrigoaguilera commented on #84
There has been a lot of refactoring between versions and probably something was forgotten along the way. I will try to have a look this week.

Thank you for testing and it

[2019-11-25 13:46] rodrigoaguilera commented on #84
Can you deploy the new release and close this issue if the bug is solved?

[2019-11-26 14:31] ruleroller commented on #84
@rodrigoaguilera Thanks, I just git pull to the latest, it works now.
the "tweetledee_keys.php" need _**?>**_ in last line.

[2019-11-26 14:32] #84 closed

[2019-11-26 14:36] rodrigoaguilera commented on #84
Please report if you find more bugs.

From https://www.php.net/manual/en/language.basic-syntax.phptags.php

[2019-12-08 17:40] Riduidel opened #85 "The *_nocache embarks a bug"
Seems like during refactoring, we replaced the line

    $renderer->using_client($tmhOAuth);

with the incorrect line

    $renderer->using_client($client);

And there is no `$client` variable! Hopefully, I have a branch for that.

[2019-12-08 17:53] Riduidel opened #87 "This tweet breaks tweetledee"
I have it in my timeline, and it breaks the whole processing !

https://twitter.com/RealSexyCyborg/statuses/1203667059613134848

[2019-12-08 17:59] Riduidel commented on #87
Only error I get now is `get status connection failure` directly in rendered feed ...

[2019-12-08 19:10] Riduidel commented on #87
ok, it seems like the tweet embeds

https://twitter.com/Arlieth/status/1203663700877402112

which in turn embeds

https://twitter.com/TEKKEN/status/1203662467848519681

which is unavaiable 😥
So it means we lack some error handling for tweets

[2019-12-09 10:16] jools-r opened #89 "Use https for avatar img src?"
Currently the avatar img src of a tweet has a `http://` link resulting in a mix of http and https warning for https sites.

It's easily resolved by replacing instances of `[profile_image_url]` with  `[profile_image_url_https]`.

That appears in lines [23](https://github.com/tweetledee/tweetledee/blob/29748a1f637650ca60b0351689024a1d48369b28/tweetledee/tldlib/renderers/rss.php#L23) and [32](https:/

[2019-12-15 19:20] glubsy opened #90 "Undefined index: type in parametersProcessing.php"
I get a lot of these errors lately:
[code]

Not familiar with the code, but from what I've gathered, it might be because [some parameters do not have a "TYPE" member](https://github.com/tweetledee/tweetledee/blob/master/tweetledee/tldlib/parametersProcessing.php#L31), and thus this is failing? Please correct me if I'm wrong.

[error comes from line 110 or 119](https://github.com/tweetledee/tweetle

[2019-12-16 13:29] rodrigoaguilera commented on #85
Fixed in the master branch

[2019-12-16 13:29] #85 closed

[2019-12-17 11:02] rodrigoaguilera commented on #90
I just pushed a quick check for the TYPE to avoid warnings.
https://github.com/tweetledee/tweetledee/commit/52b60d4ce6c93bcce66f2e844145c105bd14b3db
That piece of code needs some work.

I prefer to wait a bit for a release. Do you need it?

[2019-12-17 18:18] glubsy commented on #90
Thanks for the fix!

I use the git repo, so personally I don't need a proper release just for that.

[2019-12-17 18:18] #90 closed

[2020-03-07 15:02] scysys commented on #89
Was also here for this.
Thanks @jools-r :)

[2020-04-26 16:55] rodrigoaguilera commented on #89
Fixed https://github.com/tweetledee/tweetledee/commit/43ce012233581aa47edb8edf3ab37cf15720913b

[2020-04-26 16:55] #89 closed

[2020-06-01 13:57] Riduidel opened #91 "Latest redesign of Twitter makes retweets impossible to open"
Since latest Twitter redesign, all retweets appear as truncated.
Take as an example https://twitter.com/GeePawHill/statuses/1266249500177297408

In previous Twitter UI this would open the full tweet (in other words the full text would show up).
Since latest Twitter UI redesign and API change, tweet now appear as truncated. Why ?

Wheregoes provide a view of the route taken by this request which gi

[2020-06-01 19:50] #91 closed

[2020-06-01 19:51] rodrigoaguilera commented on #91
In fact I was bugged by this and then I started to use the invidition extension on firefox to redirect all twitter links to nitter.net.

Thanks for reporting!

[2020-07-19 12:09] vldn-dev opened #93 "No images are shown"
Hey, i'm using tweetledee to show my Twitter timeline on the Android Launcher Posidon. (It is built to show a list of rss feeds on your homescreen)

Sadly no images are shown, in other RSS or Atom Feeds like Heise or Androidcentral the images work fine.

[2020-07-19 14:23] rodrigoaguilera commented on #93
I think you need to report a bug to the RSS reader you are using providing them the RSS xml, maybe they block twitter images for some reason.

I use nextcloud reader everyday but I just tried liferea for this user timeline and it works fine

https://twitter.com/AresCases/status/1284839445653594113

[2021-01-17 14:50] Ogekuri opened #94 "User with a username that end with underscore not work properly"
User with a username that end with underscore not work properly.

I've tries to create 2 feeds from (2 differ account):
[@SplatoonNews_](https://twitter.com/SplatoonNews_)
[@SplatoonNews](https://twitter.com/SplatoonNews)

But same content (probably from cache) is provided.

Any support to found a workaround is very appreciated.

Thanks!
Francesco.

[2021-01-17 14:55] Ogekuri commented on #94
Just to confirm that _userjson_pp_nocache.php_ works and provide 2 differ contents correclty.

The issue is only with _userrss.php_.

Ciao!
Francesco.

[2021-01-18 09:36] Ogekuri commented on #94
Ok, I've found a "workaround".

I have removed '**"_"**' from _sanitize_ in _tldCache.php_ on line 139.

Ciao!
Francesco.

[2021-01-18 09:36] #94 closed

[2021-01-18 09:37] rodrigoaguilera commented on #94
No Pull Request?

[2021-01-18 09:58] Ogekuri commented on #94
I really don't know if it can work in all cases, now the cache filenames are changed from this:

[code]

to this:

[code]

Honeslty I don't know if it's just a side-effects or not.

For sure, the cache folder will not be back compatible so the upgrade will cause a cache data-loss end a flood to twitter's server.

Ciao,
Francesco.

[2021-04-30 04:41] krosseyed opened #95 "Tweet breaks LibXML"
The below tweet breaks LibXML, as the hashtag that was made in the comment below has an & in it and does not close out properly.

https://twitter.com/Mr_Blunts/status/168174665133596672